
pin-depends: [
    ["michelson-adt" "git+https://github.com/joaosreis/michelson-adt#19d004550caa89b7e4279e5630da2583e434dc62"]
    ["michelson-parser" "git+https://github.com/joaosreis/michelson-parser.git#cd2b3208363f1a62de8198ddc2f83dada9cd6fc9"]
]
