pin-depends: [
    ["michelson-adt.dev" "git+https://github.com/joaosreis/michelson-adt#36d8f738406ed7e64ae8642bc98dbe64b31df4aa"]
    ["michelson-parser.dev" "git+https://github.com/joaosreis/michelson-parser#22bca908d438c9688e736970578601e5e9304c11"]
]
